nav {
    background-color: chocolate;
    color: cornsilk;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 10;
    transition: left .5s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: cornsilk;
    text-decoration: none;
    padding: 1rem 2rem;
    display: block;
    border-bottom: 1px solid cornsilk;
}

nav a.active {
    padding: 1em 1.3em;
    border-left: .7em solid cornsilk;
    border-right: .7em solid cornsilk;
}

